/* ================ GLOBAL =================== */
/* ================ GLOBAL =================== */

html, body {
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 24px;
  font-weight: 500;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

h2 {
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  background-color: #4D8CEB;
  color: #fff;
  border-radius: 15px;
  font-size: 16px;
  line-height: 20px;
  padding: 18px 54px;
  transition: all .3s;
}
.button:hover {
  transform: scale(1.03);
}

.block-link {
  display: flex;
  max-width: 160px;
  font-size: 16px;
  position: relative;
  transition: all .3s;
}
.block-link svg {
  transition: all .3s;
}
.block-link:hover {
  color: #4D8CEB;
}
.block-link:hover svg {
  fill: #4D8CEB;
}
.block-icon {
  position: absolute;
  bottom: -24%;
  right: 38%;
  transform: scale(-1, 1);
}

/* ================ HEADER =================== */
/* ================ HEADER =================== */

.header{
  background: url("../images/about-us/header-top/bg.jpg");
  background-size: cover;
  background-position: center;

}

.header__inner {
  padding: 27px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #fff;

}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-item {
  margin-right: 25px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link--about{
  color: #4D8CEB;
}

.header__nav-link {
  transition: all .3s;
}

.header__nav-link:hover {
  color: #4D8CEB;
}

.header__contacts {
  display: flex;
  align-items: center;
}

.header__contacts-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 9px;
}

.header__tel {
  margin-bottom: 4px;
  transition: all .3s;
}

.header__mail {
  transition: all .3s;
}

.header__tel:hover, .header__mail:hover {
  color: #4D8CEB;
}

.header__contacts-icon path {
  fill: #fff;
}

/* ================ ABOUT =================== */
/* ================ ABOUT =================== */

.about{
  padding: 138px 0;
}

.about__title{
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  text-transform: uppercase;
  color: #4D8CEB;
}

.about__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__desc{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.about__list{
  margin-top: 60px;
}

.about__item{
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
}
.about__item:nth-child(3){
  margin: 57px 0 35px 0;
  max-width: 450px;
}

.about__image-mark{
  margin-right: 27px;
}

.about__text-add{
  display: inline-block;
  margin-left: 100px;
  position: relative;
}
.about__text-add::before{
  display: block;
  content: "";
  background: url("../images/about-us/about/ellipse.svg");
  width: 80px;
  height: 80px;
  position: absolute;
  top: -165%;
  left: -220%;
}

.about__image-box{
overflow: hidden;
margin-top: -40px;
z-index: 2;
}
.about__image-box img{
width: 100%;
height: 100%;
object-fit: cover;
transition: all 1s;
filter: drop-shadow(16px 16px 20px red) invert(50%);
}

.about__image-box:hover img{
  filter: none;
}

/* ================ ADVANTAGES =================== */
/* ================ ADVANTAGES =================== */

.advantages{
background-color: #4D8CEB;
padding-bottom: 138px;
}

.advantages__inner{
width: 80%;
background-color: #fff;
padding: 74px;
}

.advantages__list{
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  align-items: flex-end;
  justify-items: center;
  row-gap: 74px;
  margin-bottom: 74px;
}

.advantages__item{
  max-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__item-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  align-self: center;
}

.advantages__item-text{
  text-align: center;
}

.advantages__cta{
  padding: 0 40px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.advantages__block-link{
  z-index: 2;
}

.decor{
  overflow: hidden;
  position: relative;
}
.decor::after {
  display: block;
  content: "";
  top: 26%;
  left: 25%;
  background: url("../images/about-us/advantages/decor.png") no-repeat;
  position: absolute;
  transform: rotate(-60deg);
  width: 2214px;
  height: 1000px;
  background-size: cover;
}

/* ================ CONTACTS =================== */
/* ================ CONTACTS =================== */

.contacts {
  padding: 130px 0;
}

.contacts__inner {
  padding-left: 74px;
}

.contacts__heading {
  margin-bottom: 60px;
}

.contacts__title {
  color: #4D8CEB;
  margin-bottom: 14px;
}

.contacts__subtitle {
  max-width: 400px;
  line-height: 22px;
  font-size: 18px;
}

.contacts__content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.contacts__form {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.contacts__item {
  margin-bottom: 22px;
  border: 1px solid #4D8CEB;
  padding: 20px 50px;
}

input::placeholder, textarea::placeholder {
  font-size: 18px;
}

textarea {
  resize: none;
  height: 100px;
}

.contacts__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 18px;
}

.contacts__button:hover {
  transform: scale(1.01);
}

.contacts__block-icon {
  right: 40px;
}

/* ================ FOOTER-TOP =================== */
/* ================ FOOTER-TOP =================== */

.footer__top {
  background-color: #4D8CEB;
}

.footer__top-inner {
  padding: 27px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #fff;

}

.footer__nav-list {
  display: flex;
  align-items: center;
}

.footer__nav-item {
  margin-right: 25px;
}

.footer__nav-item:last-child {
  margin-right: 0;
}

.footer__nav-link--about {
  color: #334663;
}

.header__nav-link {
  transition: all .3s;
}

.footer__nav-link:hover {
  color: #334663;
}

.footer__contacts {
  display: flex;
  align-items: center;
}

.footer__contacts-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 9px;
}

.footer__tel {
  margin-bottom: 4px;
  transition: all .3s;
  z-index: 2;
}

.footer__mail {
  transition: all .3s;
  z-index: 2;
}

.footer__tel:hover, .footer__mail:hover {
  color: #334663;
}

.footer__contacts-icon path {
  fill: #fff;
}

/* ================ FOOTER-BOTTOM =================== */
/* ================ FOOTER-BOTTOM =================== */

.footer__bottom {
  background-color: #334663;
  padding: 47px 0;
  color: #B3B3B3;
  font-size: 16px;
  line-height: 20px;
}

.footer__bottom-inner {
  display: flex;
  justify-content: space-between;
}

.footer__bottom-text {
  margin-bottom: 27px;
  max-width: 887px;
}

.footer__bottom-text:last-child {
  margin-bottom: 0;
}

.footer__content-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__bottom-link {
  display: flex;
  align-items: center;
  transition: all .3s;
  z-index: 2;
}

.footer__link-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.footer__link-icon path {
  fill: #B3B3B3;
  transition: all .3s;
}

.footer__bottom-link:hover{
  color: #fff;
}
.footer__bottom-link:hover path{
  fill: #fff;
}