/* ================ GLOBAL =================== */
/* ================ GLOBAL =================== */

html, body {
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 24px;
  font-weight: 500;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.button {
  display: inline-block;
  background-color: #4D8CEB;
  color: #fff;
  border-radius: 15px;
  font-size: 16px;
  line-height: 20px;
  padding: 18px 54px;
  transition: all .3s;
}

.button:hover {
  transform: scale(1.03);
}

/* ================ HEADER =================== */
/* ================ HEADER =================== */

.header {
  background: url("../images/about-us/header-top/bg.jpg");
  background-size: cover;
  background-position: center;

}

.header__inner {
  padding: 27px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #fff;

}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-item {
  margin-right: 25px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link--contacts {
  color: #4D8CEB;
}

.header__nav-link {
  transition: all .3s;
}

.header__nav-link:hover {
  color: #4D8CEB;
}

.header__contacts {
  display: flex;
  align-items: center;
}

.header__contacts-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 9px;
}

.header__tel {
  margin-bottom: 4px;
  transition: all .3s;
}

.header__mail {
  transition: all .3s;
}

.header__tel:hover, .header__mail:hover {
  color: #4D8CEB;
}

.header__contacts-icon path {
  fill: #fff;
}

/* ================ CONTACTS =================== */
/* ================ CONTACTS =================== */

.contacts {
  padding: 74px 0 100px 0;
}

.contacts__inner {
  padding-left: 74px;
}

.contacts__heading {
  margin-bottom: 40px;
}

.contacts__title {
  color: #4D8CEB;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  text-transform: uppercase;
}

.contacts__subtitle {
  max-width: 400px;
  line-height: 22px;
  font-size: 18px;
}

.contacts__form {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.contacts__item {
  margin-bottom: 22px;
  border: 1px solid #4D8CEB;
  padding: 20px 50px;
}

input, textarea {
  z-index: 2;
}

input::placeholder, textarea::placeholder {
  font-size: 18px;
}

textarea {
  resize: none;
  height: 100px;
}

.contacts__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 18px;
}

.contacts__button:hover {
  transform: scale(1.01);
}

/* ================ DETAILS =================== */
/* ================ DETAILS =================== */

.details {
  background-color: #4D8CEB;
  color: #fff;
}

.details__inner {
  padding: 60px 74px;
}

.details__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details__item {
  display: flex;
  align-items: center;
}

.details__icon {
  margin-right: 15px;
}

/* ================ DETAILS =================== */
/* ================ DETAILS =================== */

.maps {
  padding: 138px;
}
.maps__msk{
  margin-bottom: 138px;
}

.maps__desc{
  padding-left: 74px;
  margin-bottom: 40px;
}

.maps__city {
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 12px;
}

.maps__address {
  font-size: 24px;
  line-height: 29px;
}

.maps__map{
  width: 100%;
  height: 500px;
  z-index: 3;
}

.maps__line{
  border-top: 3px solid #4D8CEB;
  margin-bottom: 138px;
}

.decor{
  overflow: hidden;
  position: relative;
}
.decor::after {
  display: block;
  content: "";
  top: 24%;
  left: 22%;
  background: url("../images/about-us/advantages/decor.png") no-repeat;
  position: absolute;
  transform: rotate(260deg) scale(-1, 1);
  width: 2214px;
  height: 1000px;
  background-size: cover;
}

/* ================ FOOTER-TOP =================== */
/* ================ FOOTER-TOP =================== */

.footer__top {
  background-color: #4D8CEB;
}

.footer__top-inner {
  padding: 27px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #fff;

}

.footer__nav-list {
  display: flex;
  align-items: center;
}

.footer__nav-item {
  margin-right: 25px;
}

.footer__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  transition: all .3s;
}

.footer__nav-link:hover {
  color: #334663;
}

.footer__nav-link--contacts {
  color: #334663;
}

.footer__contacts {
  display: flex;
  align-items: center;
}

.footer__contacts-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 9px;
}

.footer__tel {
  margin-bottom: 4px;
  transition: all .3s;
  z-index: 2;
}

.footer__mail {
  transition: all .3s;
  z-index: 2;
}

.footer__tel:hover, .footer__mail:hover {
  color: #334663;
}

.footer__contacts-icon path {
  fill: #fff;
}

/* ================ FOOTER-BOTTOM =================== */
/* ================ FOOTER-BOTTOM =================== */

.footer__bottom {
  background-color: #334663;
  padding: 47px 0;
  color: #B3B3B3;
  font-size: 16px;
  line-height: 20px;
}

.footer__bottom-inner {
  display: flex;
  justify-content: space-between;
}

.footer__bottom-text {
  margin-bottom: 27px;
  max-width: 887px;
}

.footer__bottom-text:last-child {
  margin-bottom: 0;
}

.footer__content-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__bottom-link {
  display: flex;
  align-items: center;
  transition: all .3s;
  z-index: 2;
}

.footer__link-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.footer__link-icon path {
  fill: #B3B3B3;
  transition: all .3s;
}

.footer__bottom-link:hover {
  color: #fff;
}

.footer__bottom-link:hover path {
  fill: #fff;
}